NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:8000
SMTP_HOST=smtp.resend.com
SMTP_PORT=687
SMTP_USER=resend-domain-verification=582d03f55cbd3019b67e678a3e03e7c8
SMTP_PASS=re_8hP7bqw2_GnH1qxLJftiHu1ArCGtNGFKm
MAIL_FROM=your@qq.com
CONTACT_TO=pengdeguang2020@qq.com

